In [1]:
from sys import argv
from requests import get
import pandas as pd 
from bs4 import BeautifulSoup
import numpy as np

In [2]:
url = 'https://www.fantasypros.com/nfl/adp/half-point-ppr-overall.php'

In [3]:
response = get(url)

In [4]:
soup = BeautifulSoup(response.content, 'html.parser')

In [5]:
table = soup.find('table', {'id': 'data'})
df = pd.read_html(str(table))[0]
df.head()

   Rank            Player Team (Bye)  POS  Yahoo  FFC  Fantrax  AVG
0     1      Saquon Barkley NYG (11)  RB1    1.0  1.0        1  1.0
1     2          Alvin Kamara NO (9)  RB2    2.0  2.0        3  2.3
2     3  Christian McCaffrey CAR (7)  RB3    3.0  3.0        2  2.7
3     4      Ezekiel Elliott DAL (8)  RB4    4.0  4.0        4  4.0
4     5       David Johnson HOU (10)  RB5    6.0  7.0        5  6.0

In [10]:
df.shape

(456, 7)

In [6]:
df.to_csv('datasets/ADP.csv')